{% extends "layout.html" %}
{% block title %}
weather forecast
{% endblock  %}

{% block content %}

<h1 class="text-white text-center mt-4">Welcome to the weather forecast webpage!</h1>
<div class="container">
    <!-- Centered Form -->
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <form method="post" action="{% url 'index' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="city" class="form-label">Enter City</label>
                    <input type="text" class="form-control" id="city" name="city" required>
                </div>
                <button type="submit" class="btn btn-primary">Get forecast</button>
            </form>
        </div>
    </div>

{% if city %}
<div class='mt-4'>
<h2>The weather in {{city}}, {{country}} </h2>
<ul class='list-group'>
    <li class="list-group-item">Temperature: {{ temperature|floatformat:2 }} °C</li>
    <li class="list-group-item">Description: {{ description }}</li>
    <li class="list-group-item">Pressure: {{ pressure }} hPa</li>
    <li class="list-group-item">Humidity: {{ humidity }}%</li>
    <li class="list-group-item">Feels like: {{ Feels_like|floatformat:2 }} °C</li>
</ul>
</div>
{% endif %}

{% endblock  %}